* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: auto 5vw;
    background-color: grey;
}

code {
    background-color: black;
    padding: 2px;
    margin: auto;
    color: rgb(5, 202, 252);
}

.true {
    color: limegreen;
}

.false {
    color: red;
}

.logic {
    color: yellow;
}

button {
    border: none;
    color: white;
    background-color: rgb(180, 28, 53);
}

h2 {margin-left: 1em;}